# Gmail Configuration
GMAIL_USER=logicmint.solution@gmail.com
GMAIL_PASS=lvwx uxeo aypo xtpx

# SMS Service Selection (twilio or whatsapp)
SMS_SERVICE=twilio

# Server Configuration
PORT=5000
NODE_ENV=development
